<%= form_with model: @session, url: sessions_path, local: true do |f| %>
  <div class="new-session-form field">
    <%= f.label :session_name, "Session Name", class: "label" %>
    <%= f.text_field :session_name, class: "input", placeholder: "Scary movie night with Chucky" %>
  </div>
  <div class="field">
    <%= f.label :genres, "Select Genres", class: "label" %>
    <div class="select is-multiple">
      <%= f.select :genres, @available_genres.map { |genre| [genre, genre] }, {}, { multiple: true, size: 5 } %>
    </div>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :only_unwatched %> Only include unwatched movies
    </label>
  </div>
  <%= f.submit "Create Session", class: "button is-primary" %>
<% end %>