<%= turbo_frame_tag "movie_#{movie.plex_id}" do %>
  <div class="columns movie">
    <div class="poster column is-one-third">
      <div class="poster-container">
        <%= image_tag(movie.poster_url) %>
      </div>
    </div>
    <div class="column is-flex is-flex-direction-column">
      <div class="content-wrapper">
        <h3 class="subtitle mb-2"><%= movie.title %></h3>
        <p class="mb-2"><%= genres(movie) %> | Content Rating: <%= movie.content_rating || 'Unknown' %></p>
        <div class="ratings-container is-flex flex-direction-row">
          <div class="rating-icon"><%= rating_icon(movie) %></div>
          <div class="pl-2 mr-4"><%= rating_percent(movie.rating) %></div>
          <div class="rating-icon"><%= audience_rating_icon(movie) %></div>
          <div class="pl-2"><%= rating_percent(movie.audience_rating) %></div>
        </div>
        <hr class="movie-divider">
        <p class="has-text-weight-bold pb-3"><%= movie.tagline %></p>
        <p class="mb-5"><%= truncate(movie.summary, length: 400, omission: '...') %></p>
      </div>
      <% if session.winner.present?%>
          <%= link_to "Open in Plex", "https://app.plex.tv/desktop#!/server/#{@session.user.plex_server_id}/details?key=%2Flibrary%2Fmetadata%2F#{@session.winner.plex_id}", target: "_blank", class: "button is-warning" if current_user %>
      <% else %>
        <%= render 'sessions/vote_buttons', session: session, movie: movie %>
      <% end %>
    </div>
  </div>
<% end %>