<%= turbo_frame_tag "session_#{@session.id}" do %>
    <section class="section">
    <% if @session.winner.present? %>
        <h2 class="subtitle">We have a Winner!</h2>
        <%= render "sessions/movie", movie: @session.winner, session: @session %>
    <% elsif @movie %>
        <div class="columns is-multiline">
        <div class="column is-two-thirds">
            <%= turbo_frame_tag "movie_#{@movie.plex_id}" do %>
            <%= render "sessions/movie", movie: @movie, session: @session %>
            <% end %>
        </div>
        <div class="column">
            <%= turbo_frame_tag "session_panel_#{@session.id}" do %>
            <%= render "sessions/voting_stats", session: @session, user: @session.user %>
            <% end %>
        </div>
        </div>
    <% else %>
        <h2>No more movies to vote on.</h2>
    <% end %>
    </section>
<% end %>