<section class="section">
  <div class="columns">
    <div class="column is-one-third">
      <h2 class="subtitle">Start a Voting Session</h2>
      <%= render "form", session: @session %>
      <% if @sessions.in_progress.any? %>
        <div class="container mt-5">
          <hr>
          <h2 class="subtitle">Sessions in progress</h2>
          <ul>
            <% @sessions.in_progress.each do |session| %>
              <li>
                <%= link_to session.session_name, session_path(session) %>: <%= pluralize(session.votes.count, "vote")%>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <hr>
    </div>
    <div class="column is-two-thirds">
      <h2 class="subtitle">Recent Winners</h2>
      <% if @sessions.recent_winners.any? %>
        <div class="winner-container grid">
          <% @sessions.recent_winners.each do |session| %>
            <div class="index-poster-container has-text-centered cell">
              <p class="mb-2"><%= session.session_name %></p>
              <% if poster_path(session.winner).present? %>
                <%= image_tag(poster_path(session.winner)) %>
              <% else %>
                <%= render 'sessions/winner_poster_placeholder' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You don't have any winners yet</p>
      <% end %>
    </div>
  </div>
</section>