<h1>Join Voting Session</h1>

<%= form_with url: guest_vote_path, method: :post, local: true, data: { turbo: false } do |f| %>
  <%= hidden_field_tag :token, params[:token] %>
  <div class="field">
    <%= label_tag :guest_name, "Enter your name" %>
    <%= text_field_tag :guest_name, nil, class: "input" %>
  </div>
  <div class="field">
    <%= f.submit "Join Session", class: "button is-primary" %>
  </div>
<% end %>