<div class="content">
  <section class="hero is-small is-dark">
    <div class="hero-body">
      <div class="container has-text-right-tablet has-text-centered">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class="pt-6">
              <%= image_tag("voterr_logo_white.svg", class: "landing-logo mb-5") %>
              <h1 class="title is-size-4-mobile has-text-light mb-2">Movie Night Made Easy</h1>
              <h2 class="subtitle is-4 is-size-5-mobile has-text-light mt-2 mb-6">
                Democratize your movie nights with friends using your Plex library
              </h2>
              <div data-controller="plex-auth"
                  data-plex-auth-plex-base-url-value="https://plex.tv"
                  data-plex-auth-plex-product-value="<%= @plex_product %>"
                  data-plex-auth-plex-version-value="<%= @plex_version %>"
                  data-plex-auth-client-id-value="<%= @client_id %>"
                  data-plex-auth-browser-name-value="<%= @browser_name %>"
                  data-plex-auth-browser-version-value="<%= @browser_version %>"
                  data-plex-auth-device-value="<%= @device %>"
                  data-plex-auth-device-name-value="<%= @device_name %>"
                  data-plex-auth-callback-url-value="<%= @callback_url %>">
                
                <button class="button is-warning is-large" 
                        data-action="click->plex-auth#initiate">Get Started with Plex</button>
                <p data-plex-auth-target="status"></p>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <figure class="image is-flex is-justify-content-center">
                <%= image_tag("phone_mockup.png", class: "phone-mockup") %>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-2 has-text-centered mb-6">How Voterr Works</h2>
      <div class="columns is-multiline">
        <% [
          { 
            title: 'Connect with Plex',
            description: "Seamlessly integrate with your Plex account to access your personal movie library. Voterr ensures that you and your friends only vote on the movies available in your collection.",
            icon: 'fas fa-link'
          },
          { 
            title: 'Create a Voting Session',
            description: "Initiate a movie night by starting a new session. Share a unique invite link with your friends, allowing them to join and participate in the voting process. There's no limit to how many friends can join!",
            icon: 'fas fa-users'
          },
          { 
            title: 'Vote and Enjoy',
            description: "Cast your votes on the available movies. When a movie receives unanimous approval from all participants, it's declared the winner. Say goodbye to indecision and hello to your next great movie night!",
            icon: 'fas fa-check-circle'
          }
        ].each do |tile| %>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="has-text-centered mb-4">
                  <span class="icon is-large has-text-warning">
                    <i class="<%= tile[:icon] %> fa-3x"></i>
                  </span>
                </div>
                <p class="title is-4 has-text-centered mb-4"><%= tile[:title] %></p>
                <div class="content">
                  <p><%= tile[:description] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section has-background-warning">
    <div class="container">
      <h2 class="title is-2 has-text-centered has-text-dark mb-6">Why Choose Voterr?</h2>
      <div class="columns is-multiline">
        <div class="column is-half">
          <div class="box">
            <h3 class="title is-4"><i class="fas fa-film mr-2"></i>Personalized Selection</h3>
            <p>Vote only on movies from your Plex library, ensuring every option is available to watch.</p>
          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <h3 class="title is-4"><i class="fas fa-handshake mr-2"></i>Democratic Decision-Making</h3>
            <p>Everyone's vote counts equally, making sure the chosen movie is a group favorite.</p>
          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <h3 class="title is-4"><i class="fas fa-clock mr-2"></i>Save Time</h3>
            <p>No more endless scrolling or debates. Quickly find a movie everyone wants to watch.</p>
          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <h3 class="title is-4"><i class="fas fa-smile mr-2"></i>Enhance Movie Nights</h3>
            <p>Make movie selection a fun part of the experience, not a chore.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title is-2 mb-6">Ready to Transform Your Movie Nights?</h2>
      <%= link_to "Start Voting Now", @auth_url, class: "button is-warning is-large is-rounded has-text-weight-bold px-6" %>
    </div>
  </section>
</div>